<div>
  <h5>Html5 Customized Media Player</h5>
  <div class="container">
    <div class="row videoArea">
        <app-playlist (loadVideo)='onLoadVideo($event)'></app-playlist>
        <app-player #childPlayer (playVideo)='onPlayVideo($event)' (pauseVideo)='onPauseVideo($event)'
          (endedVideo)='onEndedVideo($event)' [playVideoPath]='playVideoPath'></app-player>
    </div>
  </div>
  <app-controls (toggleVideo)='onToggleVideo($event)' [imagePlayPauseURL]='imagePlayPauseURL'
      (upVolume)='onUpVolume($event)' (downVolume)='onDownVolume($event)'
      (muteUnMuteAudio)='onMuteUnMuteAudio($event)' [imageMuteUnMuteURL]='imageMuteUnMuteURL'>
  </app-controls>
</div>